#root {
  --toastify-toast-width: 400px;
  --toastify-color-dark: #1c252c;
  --toastify-color-success: #f8d96f;
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-icon-color-success: var(--toastify-color-success);
}

body {
  background-color: #111118;
  color: #AEAFB3;
  display: flex;
  justify-content: center;
  /* font-size: 1em; */
}


