#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  --toastify-toast-width: 400px;
  --toastify-color-dark: #222228;
  --toastify-color-success: #fad761;
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-icon-color-success: var(--toastify-color-success);
}

body {
  background-color: #111118;
  color: #ffffff;
  display: flex;
  justify-content: center;
}


